/* ---------- MAX 1500PX ---------- */
@media only screen and (max-width:1500px) {
	
}

/* ---------- MAX 1280PX ---------- */
@media only screen and (max-width:1280px) {

}

/* ---------- MAX 1199PX ---------- */
@media only screen and (max-width:1199px) {
header{
	background:none;
	border-bottom:5px solid #7478af;
	background-color:#2e3266;
	height:215px;
	}
.social_bookmarks {
    right: 66px;
}
.logo img {
    left: 40%;
}
.dnt3-menu ul.dropdown li a {
    font-size: 25px;
}
.nav {
    margin-top: 132px;
    padding-left:0px;
}
padding-right {
    padding-right:25px;
}
.padding-left2 {
    padding-left:60px;
}
.main-content {
    height:auto;
    margin-bottom:0px;
    margin-top: 190px;
	padding-bottom:20px;
}
.footer-img3 {
    margin-top: 25px;
    margin-left: 48%;
}
.copy {
    margin-top:64px;
}
.ft-menu-padding {
    padding-left:0px; 
    text-align: center;
}
.book-res{
	margin-top:20px;
	}
.footer-menu ul li{
    padding:6px 0px 6px 0px;
}
/*inner page styles*/
.slider-content {
    margin-top: 216px;
}
.carousel-caption {
    display:none;
}
.content-detail {
    height: auto;
}
.content-detail ul {
    padding-left:0px;
}
.content-img1 .content-top1 {
        right: 359px;
		}


}


/* ---------- MAX 1112PX ---------- */
@media screen and (max-width:1112px) {
header{
	background:none;
	border-bottom:5px solid #7478af;
	background-color:#2e3266;
	height:215px;
	}
.social_bookmarks {
    right: 66px;
}
.logo img {
    left: 40%;
}
.dnt3-menu ul.dropdown li a {
    font-size: 25px;
}
.nav {
    margin-top: 132px;
    padding-left:0px;
}
padding-right {
    padding-right:25px;
}
.padding-left2 {
    padding-left:60px;
}
.main-content {
    height:auto;
    margin-bottom:0px;
    margin-top: 190px;
	padding-bottom:20px;
}
.footer-img3 {
    margin-top: 25px;
    margin-left: 48%;
}
.copy {
    margin-top:64px;
}
.ft-menu-padding {
    padding-left:0px; 
    text-align: center;
}
.book-res{
	margin-top:20px;
	}
.footer-menu ul li{
    padding:6px 0px 6px 0px;
}
/*inner page styles*/
.slider-content {
    margin-top: 216px;
}
.carousel-caption {
    display:none;
}
.content-detail {
    height: auto;
}
.content-detail ul {
    padding-left:0px;
}
.content-img1 .content-top1 {
        right: 359px;
		}

}
	
/* ---------- MAX 1080PX ---------- */
@media screen and (max-width:1080px) {
header{
	background:none;
	border-bottom:5px solid #7478af;
	background-color:#2e3266;
	height:215px;
	}
.social_bookmarks {
    right: 66px;
}
.logo img {
    left: 40%;
}
.dnt3-menu ul.dropdown li a {
    font-size: 25px;
}
.nav {
    margin-top: 132px;
    padding-left:0px;
}
padding-right {
    padding-right:25px;
}
.padding-left2 {
    padding-left:60px;
}
.main-content {
    height:auto;
    margin-bottom:0px;
    margin-top: 190px;
	padding-bottom:20px;
}
.footer-img3 {
    margin-top: 25px;
    margin-left: 48%;
}
.copy {
    margin-top:64px;
}
.ft-menu-padding {
    padding-left:0px; 
    text-align: center;
}
.book-res{
	margin-top:20px;
	}
.footer-menu ul li{
    padding:6px 0px 6px 0px;
}
/*inner page styles*/
.slider-content {
    margin-top: 216px;
}
.carousel-caption {
    display:none;
}
.content-detail {
    height: auto;
}
.content-detail ul {
    padding-left:0px;
}
.content-img1 .content-top1 {
        right: 359px;
		}

}



/* ---------- MAX 1024PX ---------- */
@media screen and (max-width:1024px) {
header{
	background:none;
	border-bottom:5px solid #7478af;
	background-color:#2e3266;
	height:215px;
	}
.social_bookmarks {
    right: 66px;
}
.logo img {
    left: 40%;
}
.dnt3-menu ul.dropdown li a {
    font-size: 25px;
}
.nav {
    margin-top: 132px;
    padding-left:0px;
}
padding-right {
    padding-right:25px;
}
.padding-left2 {
    padding-left:60px;
}
.main-content {
    height:auto;
    margin-bottom:0px;
    margin-top: 190px;
	padding-bottom:20px;
}
.footer-img3 {
    margin-top: 25px;
    margin-left: 48%;
}
.copy {
    margin-top:64px;
}
.ft-menu-padding {
    padding-left:0px; 
    text-align: center;
}
.book-res{
	margin-top:20px;
	}
.footer-menu ul li{
    padding:6px 0px 6px 0px;
}
/*inner page styles*/
.slider-content {
    margin-top: 216px;
}
.carousel-caption {
    display:none;
}
.content-detail {
    height: auto;
}
.content-detail ul {
    padding-left:0px;
}
.content-img1 .content-top1 {
        right: 359px;
		}


}

/* ---------- MAX 991PX ---------- */
@media only screen and (max-width:991px) {
header{
	background:none;
	border-bottom:5px solid #7478af;
	background-color:#2e3266;
	height:215px;
	}
.social_bookmarks {
    right: 66px;
}
.logo img {
    left: 40%;
}
.dnt3-menu ul.dropdown li a {
    font-size: 25px;
}
.nav {
    margin-top: 132px;
    padding-left:0px;
}
padding-right {
    padding-right:25px;
}
.padding-left2 {
    padding-left:60px;
}
.main-content {
    height:auto;
    margin-bottom:0px;
    margin-top: 190px;
	padding-bottom:20px;
}
.footer-img3 {
    margin-top: 25px;
    margin-left: 48%;
}
.copy {
    margin-top:64px;
}
.ft-menu-padding {
    padding-left:0px; 
    text-align: center;
}
.book-res{
	margin-top:20px;
	}
.footer-menu ul li{
    padding:6px 0px 6px 0px;
}
/*inner page styles*/
.slider-content {
    margin-top: 216px;
}
.carousel-caption {
    display:none;
}
.content-detail {
    height: auto;
}
.content-detail ul {
    padding-left:0px;
}
.content-img1 .content-top1 {
        right: 359px;
		}


}



/* ---------- max 800PX ---------- */
@media only screen and (max-width:800px) {
header{
	background:none;
	border-bottom:5px solid #7478af;
	background-color:#2e3266;
	height:215px;
	}
.social_bookmarks {
    right: 66px;
}
.logo img {
    left: 40%;
}
.dnt3-menu ul.dropdown li a {
    font-size: 25px;
}
.nav {
    margin-top: 132px;
    padding-left:0px;
}
padding-right {
    padding-right:25px;
}
.padding-left2 {
    padding-left:60px;
}
.main-content {
    height:auto;
    margin-bottom:0px;
    margin-top: 190px;
	padding-bottom:20px;
}
.footer-img3 {
    margin-top: 25px;
    margin-left: 48%;
}
.copy {
    margin-top:64px;
}
.ft-menu-padding {
    padding-left:0px; 
    text-align: center;
}
.book-res{
	margin-top:20px;
	}
.footer-menu ul li{
    padding:6px 0px 6px 0px;
}
/*inner page styles*/
.slider-content {
    margin-top: 216px;
}
.carousel-caption {
    display:none;
}
.content-detail {
    height: auto;
}
.content-detail ul {
    padding-left:0px;
}
.content-img1 .content-top1 {
        right: 359px;
		}






	

}




/* ---------- MAX 768PX ---------- */
@media only screen and (max-width:768px) {
header{
	background:none;
	border-bottom:5px solid #7478af;
	background-color:#2e3266;
	height:215px;
	}
.logo img {
    position: absolute;
    top: 45px;
    left:35%;
}
.nav {
    margin-top: 119px;
	padding-left:0px !important;
}
.social_bookmarks {
    top: 155px;
    left: 16px;
}
.dnt3-menu ul.dropdown li a {
    font-size: 20px;
    padding: 10px 10px 10px 125px;
	background:#2e3266;
}
.dnt3-menu ul.dropdown li a:hover {
	background:#2e3266;
}
.dnt3-menu ul.dropdown {
    background:#2e3266;
}
.main-content {
    margin-top: 189px;
	height:auto;
	padding-bottom: 20px;
	margin-bottom:0px;
}
.images-right {
    margin-top:39px;
}
.images-left {
    margin-bottom: 6px;
}
.footer-img1,.footer-img2 {
    margin-bottom: 20px;
}
.footer-img3 {
    height: auto;
    width: 100%;
}
.footer-img3 .heading {
    font-size: 16px;
}
.copy {
    margin-top:54px;
}
.ft-menu-padding {
    padding-left:0px; 
    text-align: center;
}
.book-res{
	margin-top:20px;
	}
.footer-menu ul li{
    padding:5px 0px 5px 0px;
}
.img3-left {
    padding-left:0px;
}
/*inner page styles*/
.slider-content {
    margin-top: 216px;
}
.carousel-caption {
    display:none;
}
.content-detail {
    height: auto;
}
.content-detail ul {
    padding-left:0px;
}
.content-img1 .content-top1 {
    right:0px;}


}



/* ---------- MAX 767PX ---------- */
@media only screen and (max-width:767px) {
header{
	background:none;
	border-bottom:5px solid #7478af;
	background-color:#2e3266;
	height:215px;
	}
.logo img {
    position: absolute;
    top: 45px;
    left:35%;
}
.nav {
    margin-top: 119px;
	padding-left:0px !important;
}
.social_bookmarks {
    top: 155px;
    left: 16px;
}
.dnt3-menu ul.dropdown li a {
    font-size: 20px;
    padding: 10px 10px 10px 125px;
	background:#2e3266;
}
.dnt3-menu ul.dropdown li a:hover {
	background:#2e3266;
}
.dnt3-menu ul.dropdown {
    background:#2e3266;
}
.main-content {
    margin-top: 189px;
	height:auto;
	padding-bottom: 20px;
	margin-bottom:0px;
}
.images-right {
    margin-top:0px;
}
.images-left {
    margin-bottom: 6px;
}
.footer-img1,.footer-img2 {
    margin-bottom: 20px;
}
.footer-img3 {
    height: auto;
    width: 100%;
}
.footer-img3 .heading {
    font-size: 16px;
}
.copy {
    margin-top:54px;
}
.ft-menu-padding {
    padding-left:0px; 
    text-align: center;
}
.book-res{
	margin-top:20px;
	}
.footer-menu ul li{
    padding:5px 0px 5px 0px;
}
.img3-left {
    padding-left:0px;
}
/*inner page styles*/
.slider-content {
    margin-top: 216px;
}
.carousel-caption {
    display:none;
}
.content-detail {
    height: auto;
}
.content-detail ul {
    padding-left:0px;
}
.content-img1 .content-top1 {
    right:0px;}





}



/* ---------- MAX 640PX ---------- */
@media screen and (max-width:640px) {
header{
	background:none;
	border-bottom:5px solid #7478af;
	background-color:#2e3266;
	height:215px;
	}
.logo img {
    position: absolute;
    top: 45px;
    left:35%;
}
.nav {
    margin-top: 119px;
	padding-left:0px !important;
}
.social_bookmarks {
    top: 155px;
    left: 16px;
}
.dnt3-menu ul.dropdown li a {
    font-size: 20px;
    padding: 10px 10px 10px 125px;
	background:#2e3266;
}
.dnt3-menu ul.dropdown li a:hover {
	background:#2e3266;
}
.dnt3-menu ul.dropdown {
    background:#2e3266;
}
.main-content {
    margin-top: 189px;
	height:auto;
	padding-bottom: 20px;
	margin-bottom:0px;
}
.images-right {
    margin-top:0px;
}
.images-left {
    margin-bottom: 6px;
}
.footer-img1,.footer-img2 {
    margin-bottom: 20px;
}
.footer-img3 {
    height: auto;
    width: 100%;
	margin-left:0px;
}
.footer-img3 .heading {
    font-size: 16px;
}
.copy {
    margin-top:54px;
}
.ft-menu-padding {
    padding-left:0px; 
    text-align: center;
}
.book-res{
	margin-top:20px;
	}
.footer-menu ul li{
    padding:5px 0px 5px 0px;
}
.img3-left {
    padding-left:0px;
}
/*inner page styles*/
.slider-content {
    margin-top: 216px;
}
.carousel-caption {
    display:none;
}
.content-detail {
    height: auto;
}
.content-detail ul {
    padding-left:0px;
}
.content-img1 .content-top1 {
    right:0px;}




}
/* ---------- MAX 603PX ---------- */
@media screen and (max-width:603px) {
.footer-img1 .top1 {
    right: 165px;
}
/*inner page styles*/
.slider-content {
    margin-top: 216px;
}
.carousel-caption {
    display:none;
}
.content-detail {
    height: auto;
}
.content-detail ul {
    padding-left:0px;
}
.content-img1 .content-top1 {
    right:0px;}


}
/* ---------- MAX 600PX ---------- */
@media screen and (max-width:600px) {
header{
	background:none;
	border-bottom:5px solid #7478af;
	background-color:#2e3266;
	height:215px;
	}
.logo img {
    position: absolute;
    top: 45px;
    left:35%;
}
.nav {
    margin-top: 119px;
	padding-left:0px !important;
}
.social_bookmarks {
    top: 155px;
    left: 16px;
}
.dnt3-menu ul.dropdown li a {
    font-size: 20px;
    padding: 10px 10px 10px 125px;
	background:#2e3266;
}
.dnt3-menu ul.dropdown li a:hover {
	background:#2e3266;
}
.dnt3-menu ul.dropdown {
    background:#2e3266;
}
.main-content {
    margin-top: 189px;
	height:auto;
	padding-bottom: 20px;
	margin-bottom:0px;
}
.images-right {
    margin-top:0px;
}
.images-left {
    margin-bottom: 6px;
}
.footer-img1,.footer-img2 {
    margin-bottom: 20px;
}
.footer-img3 {
    height: auto;
    width: 100%;
	margin-left:0px;
}
.footer-img3 .heading {
    font-size: 16px;
}
.copy {
    margin-top:245px;
}
.footer-menu ul li {
    display:block;
}
.ft-menu-padding {
    padding-left:0px; 
    text-align: center;
}
.book-res{
	margin-top:20px;
	}
.footer-menu ul li{
    padding:5px 0px 5px 0px;
}
.footer-img1 .top1 {
    right: 165px;
}
/*inner page styles*/
.slider-content {
    margin-top: 216px;
}
.carousel-caption {
    display:none;
}
.content-detail {
    height: auto;
}
.content-detail ul {
    padding-left:0px;
}
.content-img1 .content-top1 {
    right: 210px;}





}

/* ---------- MAX 480PX ---------- */
@media screen and (max-width:480px) {
header{
	background:none;
	border-bottom:5px solid #7478af;
	background-color:#2e3266;
	height:215px;
	}
.logo img {
    position: absolute;
    top: 45px;
    left:35%;
}
.nav {
    margin-top: 119px;
	padding-left:0px !important;
}
.social_bookmarks {
    top: 155px;
    left: 16px;
}
.dnt3-menu ul.dropdown li a {
    font-size: 20px;
    padding: 10px 10px 10px 125px;
	background:#2e3266;
}
.dnt3-menu ul.dropdown li a:hover {
	background:#2e3266;
}
.dnt3-menu ul.dropdown {
    background:#2e3266;
}
.main-content {
    margin-top: 189px;
	height:auto;
	padding-bottom: 20px;
	margin-bottom:0px;
}
.images-right {
    margin-top:0px;
}
.images-left {
    margin-bottom: 6px;
}
.footer-img1,.footer-img2 {
    margin-bottom: 20px;
}
.footer-img3 {
    height: auto;
    width: 100%;
	margin-left:0px;
}
.footer-img3 .heading {
    font-size: 16px;
}
.copy {
    margin-top:245px;
}
.footer-menu ul li {
    display:block;
}
.ft-menu-padding {
    padding-left:0px; 
    text-align: center;
}
.book-res{
	margin-top:20px;
	}
.footer-menu ul li{
    padding:5px 0px 5px 0px;
}
.footer-img1 .top1 {
    right:45px;
}
/*inner page styles*/
.slider-content {
    margin-top: 216px;
}
.carousel-caption {
    display:none;
}
.content-detail {
    height: auto;
}
.content-detail ul {
    padding-left:0px;
}
.content-img1 .content-top1 {
    right:0px;}


}
/* ---------- MAX 414PX ---------- */
@media screen and (max-width:414PX) {
header{
	background:none;
	border-bottom:5px solid #7478af;
	background-color:#2e3266;
	height:215px;
	}
.logo img {
    position: absolute;
    top: 45px;
    left:28%;
}
.nav {
    margin-top: 119px;
	padding-left:0px !important;
}
.social_bookmarks {
    top: 155px;
    left: 16px;
}
.dnt3-menu ul.dropdown li a {
    font-size: 20px;
    padding: 10px 10px 10px 125px;
	background:#2e3266;
}
.dnt3-menu ul.dropdown li a:hover {
	background:#2e3266;
}
.dnt3-menu ul.dropdown {
    background:#2e3266;
}
.main-content {
    margin-top: 189px;
	height:auto;
	padding-bottom: 20px;
	margin-bottom:0px;
}
.images-right {
    margin-top:0px;
}
.images-left {
    margin-bottom: 6px;
}
.footer-img1,.footer-img2 {
    margin-bottom: 20px;
}
.footer-img3 {
    height: auto;
    width: 100%;
	margin-left:0px;
}
.footer-img3 .heading {
    font-size: 16px;
}
.copy {
    margin-top:245px;
}
.footer-menu ul li {
    display:block;
}
.ft-menu-padding {
    padding-left:0px; 
    text-align: center;
}
.book-res{
	margin-top:20px;
	}
.footer-menu ul li{
    padding:5px 0px 5px 0px;
}
.footer-img1 .top1 {
    right:0px;
}
/*inner page styles*/
.slider-content {
    margin-top: 216px;
}
.carousel-caption {
    display:none;
}
.content-detail {
    height: auto;
}
.content-detail ul {
    padding-left:0px;
}
.content-img1 .content-top1 {
    right:0px;}






}
/* ---------- MAX 375PX ---------- */
@media screen and (max-width:375px) {
header{
	background:none;
	border-bottom:5px solid #7478af;
	background-color:#2e3266;
	height:215px;
	}
.logo img {
    position: absolute;
    top: 45px;
    left:28%;
}
.nav {
    margin-top: 119px;
	padding-left:0px !important;
}
.social_bookmarks {
    top: 155px;
    left: 16px;
}
.dnt3-menu ul.dropdown li a {
    font-size: 20px;
    padding: 10px 10px 10px 125px;
	background:#2e3266;
}
.dnt3-menu ul.dropdown li a:hover {
	background:#2e3266;
}
.dnt3-menu ul.dropdown {
    background:#2e3266;
}
.main-content {
    margin-top: 189px;
	height:auto;
	padding-bottom: 20px;
	margin-bottom:0px;
}
.images-right {
    margin-top:0px;
}
.images-left {
    margin-bottom: 6px;
}
.footer-img1,.footer-img2 {
    margin-bottom: 20px;
}
.footer-img3 {
    height: auto;
    width: 100%;
	margin-left:0px;
}
.footer-img3 .heading {
    font-size: 16px;
}
.copy {
    margin-top:245px;
}
.footer-menu ul li {
    display:block;
}
.ft-menu-padding {
    padding-left:0px; 
    text-align: center;
}
.book-res{
	margin-top:20px;
	}
.footer-menu ul li{
    padding:5px 0px 5px 0px;
}
.footer-img1 .top1 {
    right:0px;
}
/*inner page styles*/
.slider-content {
    margin-top: 216px;
}
.carousel-caption {
    display:none;
}
.content-detail {
    height: auto;
}
.content-detail ul {
    padding-left:0px;
}
.content-img1 .content-top1 {
    right:0px;}

}


/* ---------- MAX 360PX ---------- */
@media screen and (max-width:360px) {
header{
	background:none;
	border-bottom:5px solid #7478af;
	background-color:#2e3266;
	height:215px;
	}
.logo img {
    position: absolute;
    top: 45px;
    left:28%;
}
.nav {
    margin-top: 119px;
	padding-left:0px !important;
}
.social_bookmarks {
    top: 155px;
    left: 16px;
}
.dnt3-menu ul.dropdown li a {
    font-size: 20px;
    padding: 10px 10px 10px 125px;
	background:#2e3266;
}
.dnt3-menu ul.dropdown li a:hover {
	background:#2e3266;
}
.dnt3-menu ul.dropdown {
    background:#2e3266;
}
.main-content {
    margin-top: 189px;
	height:auto;
	padding-bottom: 20px;
	margin-bottom:0px;
}
.images-right {
    margin-top:0px;
}
.images-left {
    margin-bottom: 6px;
}
.footer-img1,.footer-img2 {
    margin-bottom: 20px;
}
.footer-img3 {
    height: auto;
    width: 100%;
	margin-left:0px;
}
.footer-img3 .heading {
    font-size: 16px;
}
.copy {
    margin-top:245px;
}
.footer-menu ul li {
    display:block;
}
.ft-menu-padding {
    padding-left:0px; 
    text-align: center;
}
.book-res{
	margin-top:20px;
	}
.footer-menu ul li{
    padding:5px 0px 5px 0px;
}
.footer-img1 .top1 {
    right:0px;
}
/*inner page styles*/
.slider-content {
    margin-top: 216px;
}
.carousel-caption {
    display:none;
}
.content-detail {
    height: auto;
}
.content-detail ul {
    padding-left:0px;
}
.content-img1 .content-top1 {
    right:0px;}

}


/* ---------- MAX 320PX ---------- */
@media only screen and (max-width:320px) {
header{
	background:none;
	border-bottom:5px solid #7478af;
	background-color:#2e3266;
	height:215px;
	}
.logo img {
    position: absolute;
    top: 45px;
    left:28%;
}
.nav {
    margin-top: 119px;
	padding-left:0px !important;
}
.social_bookmarks {
    top: 155px;
    left: 16px;
}
.dnt3-menu ul.dropdown li a {
    font-size: 20px;
    padding: 10px 10px 10px 125px;
	background:#2e3266;
}
.dnt3-menu ul.dropdown li a:hover {
	background:#2e3266;
}
.dnt3-menu ul.dropdown {
    background:#2e3266;
}
.main-content {
    margin-top: 189px;
	height:auto;
	padding-bottom: 20px;
	margin-bottom:0px;
}
.images-right {
    margin-top:0px;
}
.images-left {
    margin-bottom: 6px;
}
.footer-img1,.footer-img2 {
    margin-bottom: 20px;
}
.footer-img3 {
    height: auto;
    width: 100%;
	margin-left: 0px;
}
.footer-img3 .heading {
    font-size: 16px;
}
.copy {
    margin-top:245px;
}
.footer-menu ul li {
    display:block;
}
.ft-menu-padding {
    padding-left:0px; 
    text-align: center;
}
.book-res{
	margin-top:20px;
	}
.footer-menu ul li{
    padding:5px 0px 5px 0px;
}
.footer-img1 .top1 {
    right:0px;
}
/*inner page styles*/
.slider-content {
    margin-top: 216px;
}
.carousel-caption {
    display:none;
}
.content-detail {
    height: auto;
}
.content-detail ul {
    padding-left:0px;
}
.content-img1 .content-top1 {
    right:0px;}
	

}